
@media  screen and (max-width:400px) {


   
    .Pimage{

        width: 100px;
    }

    .Pprice{

      display: flex;
      justify-content: center;
      align-items: center;
       font-size:20px;
       color: green;
    }
    .Pname{

      display: flex;
      justify-content: center;
      align-items: center;
       font-size:20px;
         color: green;
    }
    .Premove{

      display: flex;
      justify-content: center;
      align-items: center;
       font-size:50px;
    }
}
@media  screen and (min-width:500px) {


   
    .Pimage{

        width: 300px;
    }

    .Pprice{

      display: flex;
      justify-content: center;
      align-items: center;
      font-size:50px;
    }
    .Pname{

      display: flex;
      justify-content: center;
      align-items: center;
     font-size:50px;
    }
    .Premove{

      display: flex;
      justify-content: center;
      align-items: center;
      font-size:50px;
      border: none;
    }
}